<footer class="site-footer" role="contactcontent" aria-label="site footer">
  <div class="footer-container">
    <div class="logo-block">
      <ul>
        <li><img src="https://space-station.s3.amazonaws.com/sites/566b5aa0d7bcec0003000001/theme/images/lpl-logo.svg" class="logo"></li>
        <li>© {{ now | date:'yyyy' }} LaunchPad Lab | All Rights Reserved </li>
      </ul>
    </div>
    <div class="navigation-block footer-block">
      <h6>Navigation</h6>
      <span class="header-border"></span>
      <ul>
        <li><a href="http://launchpadlab.com/">Home</a></li>
        <li><a href="http://launchpadlab.com/about">About</a></li>
        <li><a href="http://launchpadlab.com/work">Work</a></li>
        <li><a href="http://launchpadlab.com/process">Process</a></li>
        <li><a href="http://launchpadlab.com/blog">Blog</a></li>
        <li><a href="http://launchpadlab.com/careers">Careers</a></li>
        <li><a href="http://launchpadlab.com/contact">Contact</a></li>
      </ul>
    </div>
    <div class="services-block footer-block">
      <h6>Core Services</h6>
      <span class="header-border"></span>
      <ul>
        <li><a href="http://launchpadlab.com/services#web">Web Design &amp; Development</a></li>
         <li><a href="http://launchpadlab.com/services#mobile">Mobile Application Development</a></li>
         <li><a href="http://launchpadlab.com/services#ui">UX &amp; UI Design</a></li>
         <li><a href="http://launchpadlab.com/services#brand">Logo &amp; Branding</a> </li>
         <li><a href="http://launchpadlab.com/services#consulting">Technology Strategy &amp; Consulting</a></li>
         <li><a href="http://launchpadlab.com/services#business">Business Development</a></li>
      </ul>
    </div>
    <div class="contact-us-block footer-block">
      <h6>Work Together</h6>
      <span class="header-border"></span>
      <ul>
        <li>LaunchPad Lab</li>
        <li>220 W. Huron Street<br>Suite 2001</li>
        <li>Chicago, Illinois 60654</li>
        <li><a href="tel:1-773-270-1033">773-270-1033</a></li>
        <li><a href="mailto:contact@launchpadlab.com">contact@launchpadlab.com</a></li>
      </ul>
      <ul class="social-media">
        <li><a class="instagram" href="http://instagram.com/launchpadlab" target="_blank">Instagram</a></li>
        <li><a class="twitter" href="https://twitter.com/launchpadlab" target="_blank">Twitter</a></li>
        <li><a class="facebook" href="https://www.facebook.com/LaunchPadLab" target="_blank">Facebook</a></li>
      </ul><div class="clearfix"></div>
    </div>
  </div>
  <!--
  <div class="subscribe-container">
    <div class="email-block footer-block">
        <label class="email-block-label">Sign up for our newsletter</label>
        <input type="email" value="" name="EMAIL" placeholder="contact@launchpadlab.com" class="email-input" id="mce-EMAIL">
        <input type="submit" value="Send" class="button">
    </div>
  </div>
  -->
</footer>
