<header class="topbar-wrapper" role="navigation" aria-label="site navigation">
  <nav class="nav-block">
    <ul class="left-nav">
      <a href="/">
        <img src="https://space-station.s3.amazonaws.com/sites/566b5aa0d7bcec0003000001/theme/images/space-logo.svg" class="nav-logo">
      </a>
    </ul>
    <div class="right-nav">
      <ul>
        <li><a class="home-link" href="/">Home</a></li>
        <li><a href="http://launchpadlab.com/about">About</a></li>
        <li><a href="http://launchpadlab.com/work">Work</a></li>
        <li><a href="http://launchpadlab.com/process">Process</a></li>
        <li><a href="http://launchpadlab.com/blog">Blog</a></li>
        <li><a href="/">Experiments</a></li>
        <li><a href="http://launchpadlab.com/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
<a class="mobile-nav-trigger open" href="#">Menu</a>
